---
import { getPathPrefix } from '../../../../utils/path.js'
---

<!-- Footer -->
<footer class="py-4 bg-light border-top">
  <div class="container">
    <div class="row align-items-center">
      <div class="col-md-6">
        <ul class="nav justify-content-center justify-content-md-start">
          <li class="nav-item">
            <a class="nav-link px-2 text-muted" href={getPathPrefix('/')}>Home</a>
          </li>
          <li class="nav-item">
            <a class="nav-link px-2 text-muted" href={getPathPrefix('/features')}>Features</a>
          </li>
          <li class="nav-item">
            <a class="nav-link px-2 text-muted" href={getPathPrefix('/faq')}>FAQs</a>
          </li>
          <li class="nav-item">
            <a class="nav-link px-2 text-muted" href={getPathPrefix('/docs')}>Documentation</a>
          </li>
        </ul>
      </div>
      <div class="col-md-6">
        <p class="text-center text-md-end mb-0 text-muted">
          © 2025 HOA Template. All rights reserved.
        </p>
      </div>
    </div>
  </div>
</footer>
