---
import { getPathPrefix } from '../../../../../utils/path.js'
import Logo from './_topbar/_logo.astro'
---

<!-- Divider -->
<div class="position-relative d-none d-xl-block" style="margin-top: 8rem;">
  <div class="position-absolute bottom-0 w-100 z-n1">
    <img
      src="https://asterodigital.com/storage/local/aalp/cms/media/70/gradient.svg"
      alt="Gradient"
      class="w-100"
    />
  </div>
  <div
    class="d-flex position-absolute bottom-0 start-0 w-100 overflow-hidden mb-n1"
    style="color: var(--bs-body-bg)"
  >
    <div class="position-relative start-50 translate-middle-x flex-shrink-0" style="width: 3774px">
      <svg
        width="3774"
        height="99"
        viewBox="0 0 3774 99"
        fill="none"
        xmlns="http://www.w3.org/2000/svg"
      >
        <path
          d="M0 200.003C0 200.003 1137.52 0.188224 1873.5 0.000134392C2614.84 -0.189325 3774 200.003 3774 200.003H0Z"
          fill="currentColor"></path>
      </svg>
    </div>
  </div>
</div>

<!-- Footer -->
<footer class="bg-body pt-5 pt-xl-3">
  <div class="container">
    <div class="row">
      <div class="col-md-4">
        <a href={getPathPrefix('/theme/7')}>
          <Logo />
        </a>
        <p class="text-muted mb-2 pe-0 pe-lg-4 pe-xl-5">
          71-75 Shelton Street, Covent Garden, London, WC2H 9JQ
        </p>
        <p class="text-muted mb-2">+44 7728022218</p>
        <p class="mb-3">
          <a href="mailto:contact@asterodigital.com" class="text-decoration-none text-muted"
            >contact@asterodigital.com</a
          >
        </p>
        <nav class="nav social">
          <a class="me-2" href="https://www.facebook.com/" target="_blank" title="Facebook">
            <i class="uil uil-facebook-f"></i></a
          >
          <a class="me-2" href="https://www.instagram.com/" target="_blank" title="Instagram">
            <i class="uil uil-instagram"></i></a
          >
          <a class="me-2" href="https://www.whatsapp.web/" target="_blank" title="WhatsApp">
            <i class="uil uil-whatsapp"></i></a
          >
          <a class="me-2" href="https://www.twitter.com/" target="_blank" title="Twitter">
            <i class="uil uil-twitter"></i></a
          >
          <a class="me-2" href="https://www.linkedin.com/" target="_blank" title="Linkedin">
            <i class="uil uil-linkedin"></i></a
          >
        </nav>
      </div>
      <div class="col-md-3 offset-md-2 pt-4 pt-md-0">
        <h5 class="mb-3">Quick Links</h5>
        <ul class="list-unstyled">
          <li class="mb-2">
            <a
              class="text-decoration-none text-muted"
              href={getPathPrefix('/theme/7/about')}
              title="About"
            >
              About</a
            >
          </li>
          <li class="mb-2">
            <a
              class="text-decoration-none text-muted"
              href={getPathPrefix('/theme/7/blog')}
              title="Our Blog"
            >
              Our Blog</a
            >
          </li>
          <li class="mb-2">
            <a
              class="text-decoration-none text-muted"
              href={getPathPrefix('/theme/7/services')}
              title="Services"
            >
              Services</a
            >
          </li>
          <li class="mb-2">
            <a
              class="text-decoration-none text-muted"
              href={getPathPrefix('/theme/7/hire-us')}
              title="Hire Us"
            >
              Hire Us</a
            >
          </li>
        </ul>
      </div>
      <div class="col-md-3 pt-4 pt-md-0">
        <h5 class="mb-3">Other Links</h5>
        <ul class="list-unstyled">
          <li class="mb-2">
            <a
              class="text-decoration-none text-muted"
              href={getPathPrefix('/theme/7/contact-us')}
              title="Contact Us"
            >
              Contact Us</a
            >
          </li>
          <li class="mb-2">
            <a
              class="text-decoration-none text-muted"
              href={getPathPrefix('/theme/7/privacy-policy')}
              title="Privacy Policy"
            >
              Privacy Policy</a
            >
          </li>
          <li class="mb-2">
            <a
              class="text-decoration-none text-muted"
              href={getPathPrefix('/theme/7/terms-and-conditions')}
              title="Terms & Conditions"
            >
              Terms &amp; Conditions</a
            >
          </li>
        </ul>
      </div>
    </div>
    <div class="row mt-4 mt-md-5">
      <div class="border-top col-md-12">
        <p class="text-muted my-4">© 2025 : Astero Digital Ltd. All rights reserved.</p>
      </div>
    </div>
  </div>
</footer>
