---
import Layout from './layout.astro'
import { getPathPrefix } from '../../../../utils/path.js'
---

<Layout title="Hire Us" description="ROI-driven Digital Marketing Company.">
  <!-- Hero Section -->
  <section class="bg-body py-5">
    <div class="container">
      <div class="row align-items-center justify-content-center gy-4">
        <div class="col-md-8 order-2 order-md-1">
          <h2 class="mb-3" data-aos="fade-up" data-aos-duration="1000">
            We're available <span class="text-primary">for hire.</span>
          </h2>
          <p
            class="text-muted mb-4"
            data-aos="fade-up"
            data-aos-delay="100"
            data-aos-duration="1000"
          >
            We specialize in turning your ideas into powerful, scalable solutions. Whether you're
            looking to innovate, optimize, or grow, our expert team is ready to make it happen.
          </p>
          <a
            href={getPathPrefix('/theme/7/contact-us')}
            class="btn btn-lg btn-primary"
            data-aos="fade-up"
            data-aos-delay="200"
            data-aos-duration="1000">Let's Get Started</a
          >
        </div>
        <div class="col-md-4 order-1 order-md-2">
          <img
            src="https://asterodigital.com/storage/local/aamf/cms/media/126/hire-us-img.png"
            class="img-fluid"
            style="max-height: 400px;"
            data-aos="fade-down"
            data-aos-delay="100"
            data-aos-duration="1000"
            alt="Hire Us"
          />
        </div>
      </div>
    </div>
  </section>

  <!-- CTA Section -->
  <section class="bg-primary-soft py-5">
    <div class="container">
      <div class="row g-4">
        <div class="col-lg-7 pe-lg-5 order-2 order-lg-1">
          <h2 class="mb-3" data-aos="fade-right" data-aos-duration="1000">
            We're ready to bring your <span class="text-primary">vision</span> to life.
          </h2>
          <p
            class="text-muted mb-4"
            data-aos="fade-right"
            data-aos-delay="100"
            data-aos-duration="1000"
          >
            At Astero, we’re more than just a team – we’re your dedicated partners in success. Our
            skilled experts are here to help turn your ideas into impactful, scalable solutions that
            drive growth, innovation, and optimization. No matter where you are in your journey,
            we're ready to collaborate, create, and make your project a success. Let us handle the
            technical challenges while you focus on your business goals.
          </p>
          <a
            href={getPathPrefix('/theme/7/contact-us')}
            class="btn btn-lg btn-yellow"
            data-aos="fade-right"
            data-aos-delay="200"
            data-aos-duration="1000">Take the first step</a
          >
        </div>
        <div class="col-lg-5 order-1 order-lg-2">
          <figure class="mb-0">
            <img
              src="https://asterodigital.com/storage/local/aalp/cms/media/111/team-meeting-cropped.jpg"
              class="img-fluid rounded-4"
              data-aos="fade-left"
              data-aos-delay="100"
              data-aos-duration="1000"
              alt="Hire Us"
            />
          </figure>
        </div>
      </div>
    </div>
  </section>

  <!-- Tech Stack Section -->
  <section class="bg-body py-5">
    <div class="container">
      <div class="row mb-4">
        <div class="col-12 col-lg-6">
          <div class="mb-4">
            <h2 class="mb-2" data-aos="fade-down" data-aos-duration="1000">Our technology stack</h2>
            <p
              class="text-muted mb-0"
              data-aos="fade-down"
              data-aos-delay="100"
              data-aos-duration="1000"
            >
              We leverage cutting-edge technologies to build innovative, reliable, and scalable
              solutions.
            </p>
          </div>
        </div>
      </div>

      <div class="row row-cols-2 row-cols-sm-3 row-cols-md-6 g-4 g-xl-5 justify-content-center">
        <div class="col">
          <div
            class="card card-lift border h-100 p-4"
            data-aos="zoom-in"
            data-aos-delay="150"
            data-aos-duration="1000"
          >
            <div class="card-body d-flex align-items-center">
              <figure class="mb-0">
                <img
                  src="https://asterodigital.com/storage/local/aamf/cms/media/128/laravel.svg"
                  class="img-fluid"
                  alt="Laravel Logo"
                />
              </figure>
            </div>
          </div>
        </div>
        <div class="col">
          <div
            class="card card-lift border h-100 p-4"
            data-aos="zoom-in"
            data-aos-delay="200"
            data-aos-duration="1000"
          >
            <div class="card-body d-flex align-items-center">
              <figure class="mb-0">
                <img
                  src="https://asterodigital.com/storage/local/aamf/cms/media/130/file-type-php.svg"
                  class="img-fluid"
                  alt="PHP Logo"
                />
              </figure>
            </div>
          </div>
        </div>
        <div class="col">
          <div
            class="card card-lift border h-100 p-4"
            data-aos="zoom-in"
            data-aos-delay="250"
            data-aos-duration="1000"
          >
            <div class="card-body d-flex align-items-center">
              <figure class="mb-0">
                <img
                  src="https://asterodigital.com/storage/local/aalp/cms/media/96/bootstrap-logo.svg"
                  class="img-fluid"
                  alt="Bootstrap Logo"
                />
              </figure>
            </div>
          </div>
        </div>
        <div class="col">
          <div
            class="card card-lift border h-100 p-4"
            data-aos="zoom-in"
            data-aos-delay="300"
            data-aos-duration="1000"
          >
            <div class="card-body d-flex align-items-center">
              <figure class="mb-0">
                <img
                  src="https://asterodigital.com/storage/local/aamf/cms/media/129/javascript.svg"
                  class="img-fluid"
                  alt="JavaScript Logo"
                />
              </figure>
            </div>
          </div>
        </div>
        <div class="col">
          <div
            class="card card-lift border h-100 p-4"
            data-aos="zoom-in"
            data-aos-delay="350"
            data-aos-duration="1000"
          >
            <div class="card-body d-flex align-items-center">
              <figure class="mb-0">
                <img
                  src="https://asterodigital.com/storage/local/aamf/cms/media/127/file-type-reactjs.svg"
                  class="img-fluid"
                  alt="React.js Logo"
                />
              </figure>
            </div>
          </div>
        </div>
        <div class="col">
          <div
            class="card card-lift border h-100 p-4"
            data-aos="zoom-in"
            data-aos-delay="400"
            data-aos-duration="1000"
          >
            <div class="card-body d-flex align-items-center">
              <figure class="mb-0">
                <img
                  src="https://asterodigital.com/storage/local/aamf/cms/media/131/Node.js_logo.svg"
                  class="img-fluid"
                  alt="Node.js Logo"
                />
              </figure>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>

  <!-- Contact Form -->
  <section class="bg-body py-5">
    <div class="container">
      <div class="row mb-4">
        <div class="col-12 col-lg-6">
          <h2 class="mb-2" data-aos="fade-down" data-aos-duration="1000">
            Get started on your project
          </h2>
          <p
            class="text-muted mb-0"
            data-aos="fade-down"
            data-aos-delay="100"
            data-aos-duration="1000"
          >
            Ready to bring your vision to life? Fill out the form below. Let's create something
            amazing together!
          </p>
        </div>
      </div>

      <!-- Form -->
      <form>
        <div class="row g-3">
          <div class="col-md-6">
            <div class="mb-2">
              <label for="name" class="form-label">Name <span class="text-danger">*</span></label>
              <input
                type="text"
                class="form-control form-control-lg"
                id="name"
                placeholder="Enter Your Name"
                required
              />
            </div>
          </div>
          <div class="col-md-6">
            <div class="mb-2">
              <label for="email" class="form-label">Email <span class="text-danger">*</span></label>
              <input
                type="email"
                class="form-control form-control-lg"
                id="email"
                placeholder="Enter Your Email Address"
                required
              />
            </div>
          </div>
          <div class="col-12">
            <div class="mb-2">
              <label for="phone" class="form-label">Phone <span class="text-danger">*</span></label>
              <input
                type="tel"
                class="form-control form-control-lg"
                id="phone"
                placeholder="Enter Your Contact Number"
                required
              />
            </div>
          </div>
          <div class="col-md-6">
            <div class="mb-2">
              <label for="projectType" class="form-label"
                >Project Type <span class="text-danger">*</span></label
              >
              <select class="form-select form-select-lg" id="projectType" required>
                <option value="" selected disabled>Select Project Type</option>
                <option value="software-development">Software Development</option>
                <option value="web-development">Web Development</option>
                <option value="app-development">App Development</option>
                <option value="seo">SEO</option>
                <option value="other">Other</option>
              </select>
            </div>
          </div>
          <div class="col-md-6">
            <div class="mb-2">
              <label for="budget" class="form-label">Budget</label>
              <select class="form-select form-select-lg" id="budget">
                <option value="" selected disabled>Select Budget</option>
                <option value="100-500">$100-$500</option>
                <option value="500-1k">$500-$1,000</option>
                <option value="1k-10k">$1,000-$10,000</option>
                <option value="greater-than-10k">&gt; $10,000</option>
              </select>
            </div>
          </div>
          <div class="col-12">
            <div class="mb-2">
              <label for="details" class="form-label"
                >Project Details <span class="text-danger">*</span></label
              >
              <textarea
                class="form-control form-control-lg"
                id="details"
                rows="4"
                placeholder="Project Details"
                required></textarea>
            </div>
          </div>
          <div class="col-12">
            <button type="submit" class="btn btn-lg btn-primary rounded-pill px-4">Submit</button>
          </div>
        </div>
      </form>
    </div>
  </section>
</Layout>
