---
import Layout from './layout.astro'
import { getPathPrefix } from '../../../../utils/path.js'
---

<Layout
  title="Best Website Builder For Dog Breeders"
  description="An easy website builder for pet breeders."
>
  <!-- Hero Section -->
  <section class="bg-primary-subtle py-5">
    <div class="container">
      <div class="row align-items-center g-5">
        <div class="col-lg-6 order-lg-2">
          <img
            class="img-fluid"
            src="https://cdn.breederspot.com/bspot/app/media/56/two-dogs.png"
            alt="Dogs"
            data-aos="fade-in"
            data-aos-delay="100"
            data-aos-duration="1000"
          />
        </div>
        <div class="col-lg-6 order-lg-1">
          <h1 class="display-5 fw-bold mb-3" data-aos="fade-down" data-aos-duration="1000">
            Easy Website Builder for <span class="text-primary">Dog Breeders</span>
          </h1>
          <p
            class="fs-5 text-muted mb-4"
            data-aos="fade-down"
            data-aos-delay="100"
            data-aos-duration="1000"
          >
            BreederSpot is a professional dog breeding website builder that allows you to take
            complete control of your website design right from creating it to updating and managing
            it professionally.
          </p>
          <a
            href={getPathPrefix('/theme/6/portal/register')}
            class="btn btn-lg btn-primary rounded-pill px-4"
            data-aos="fade-down"
            data-aos-delay="200"
            data-aos-duration="1000">Start for Free</a
          >
        </div>
      </div>
    </div>
  </section>

  <!-- Templates Section -->
  <section class="bg-body py-5">
    <div class="container-fluid">
      <h3
        class="fs-1 fw-bold text-center mb-4"
        data-aos="fade-down"
        data-aos-delay="300"
        data-aos-duration="1000"
      >
        Templates for Every Dog Breeder
      </h3>

      <!-- Swiper -->
      <div class="swiper mySwiper">
        <div class="swiper-wrapper mb-5">
          <div class="swiper-slide" style="height: auto;">
            <div class="card h-100">
              <a href="#" style="text-decoration: none;" target="_blank">
                <img
                  src="https://cdn.breederspot.com/bspot/app/media/63/slider-1.png"
                  class="card-img"
                  alt="Card image"
                  style="object-fit: cover; height: 100%; width: 100%;"
                />
              </a>
            </div>
          </div>
          <div class="swiper-slide" style="height: auto;">
            <div class="card h-100">
              <a href="#" style="text-decoration: none;" target="_blank">
                <img
                  src="https://cdn.breederspot.com/bspot/app/media/66/slider-4.png"
                  class="card-img"
                  alt="Card image"
                  style="object-fit: cover; height: 100%; width: 100%;"
                />
              </a>
            </div>
          </div>
          <div class="swiper-slide" style="height: auto;">
            <div class="card h-100">
              <a href="#" style="text-decoration: none;" target="_blank">
                <img
                  src="https://cdn.breederspot.com/bspot/app/media/65/slider_3.png"
                  class="card-img"
                  alt="Card image"
                  style="object-fit: cover; height: 100%; width: 100%;"
                />
              </a>
            </div>
          </div>
          <div class="swiper-slide" style="height: auto;">
            <div class="card h-100">
              <a href="#" style="text-decoration: none;" target="_blank">
                <img
                  src="https://cdn.breederspot.com/bspot/app/media/62/gsd-slider.png"
                  class="card-img"
                  alt="Card image"
                  style="object-fit: cover; height: 100%; width: 100%;"
                />
              </a>
            </div>
          </div>
        </div>
        <div class="swiper-pagination"></div>
      </div>
    </div>
  </section>

  <!-- Welcome Section -->
  <section class="bg-body py-5">
    <div class="container">
      <h2 class="fw-bold fs-1 text-center mb-3" data-aos="fade-down" data-aos-duration="1000">
        Welcome to BreederSpot!
      </h2>
      <p class="text-muted mb-0" data-aos="fade-down" data-aos-delay="100" data-aos-duration="1000">
        BreederSpot is our personalized gift to dog breeders who want to make it big in the digital
        world. Today, every business needs a well-functioning website with an end-to-end management
        system. Dog breeding is no exception. It requires a carefully designed website that caters
        to all the unique needs of dog breeders. These include creating profiles, assembling
        pedigrees, managing announcements, and other such features. BreederSpot will help you create
        a comprehensive website with all this and more in a jiffy.
      </p>
    </div>
  </section>

  <!-- Why Breederspot Section -->
  <section class="bg-body py-5">
    <div class="container">
      <div class="row g-5">
        <div class="col-lg-5">
          <div class="row g-3">
            <div class="col-12 mx-4">
              <img
                src="https://cdn.breederspot.com/bspot/app/media/59/dog-breeder.png"
                alt="Woman with a dog"
                class="img-fluid rounded-3"
                data-aos="fade-in"
                data-aos-duration="1000"
              />
            </div>
            <div class="col-6 mb-2">
              <img
                src="https://cdn.breederspot.com/bspot/cms/post/37/introducing-breederspot.png"
                alt="Woman with a dog"
                class="img-fluid rounded-3"
                data-aos="fade-in"
                data-aos-delay="50"
                data-aos-duration="1000"
              />
            </div>
            <div class="col-6">
              <img
                src="https://cdn.breederspot.com/bspot/app/media/60/making-a-dog-website.jpg"
                alt="Woman with a dog"
                class="img-fluid rounded-3"
                data-aos="fade-in"
                data-aos-delay="100"
                data-aos-duration="1000"
              />
            </div>
          </div>
        </div>
        <div class="col-lg-7">
          <p
            class="fs-6 fw-semibold text-uppercase text-muted mb-3"
            data-aos="fade-down"
            data-aos-duration="1000"
          >
            What Makes Us Different?
          </p>
          <h2
            class="fs-1 fw-bold mb-4"
            data-aos="fade-down"
            data-aos-delay="100"
            data-aos-duration="1000"
          >
            Why <span class="underline primary">BreederSpot</span> for your dog breeding business?
          </h2>
          <div class="row g-4">
            <div class="col-sm-6" data-aos="flip-up" data-aos-duration="1000">
              <div class="d-flex flex-row gap-3">
                <div>
                  <i class="ri-seo-line text-yellow fs-1"></i>
                </div>
                <div>
                  <h4 class="mb-1">SEO-Friendly</h4>
                  <p class="mb-0">
                    Create dog breeding websites that are optimized and easy to rank on search
                    engines.
                  </p>
                </div>
              </div>
            </div>
            <div class="col-sm-6" data-aos="flip-up" data-aos-delay="50" data-aos-duration="1000">
              <div class="d-flex flex-row gap-3">
                <div>
                  <i class="ri-smartphone-line text-yellow fs-1"></i>
                </div>
                <div>
                  <h4 class="mb-1">Mobile Friendly</h4>
                  <p class="mb-0">
                    All our templates are mobile-friendly, making them easily accessible from all
                    devices.
                  </p>
                </div>
              </div>
            </div>
            <div class="col-sm-6" data-aos="flip-up" data-aos-delay="100" data-aos-duration="1000">
              <div class="d-flex flex-row gap-3">
                <div>
                  <i class="ri-flashlight-line text-pink fs-1"></i>
                </div>
                <div>
                  <h4 class="mb-1">Fast and Secure</h4>
                  <p class="mb-0">
                    With BreederSpot you will never have to worry about safety and privacy. It’s all
                    taken care of!
                  </p>
                </div>
              </div>
            </div>
            <div class="col-sm-6" data-aos="flip-up" data-aos-delay="150" data-aos-duration="1000">
              <div class="d-flex flex-row gap-3">
                <div>
                  <i class="ri-user-smile-line text-pink fs-1"></i>
                </div>
                <div>
                  <h4 class="mb-1">Easy to Use</h4>
                  <p class="mb-0">You will truly appreciate how easy it is to use BreederSpot!</p>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>

  <!-- Online Presence Section -->
  <section class="bg-gradient-9 pb-5">
    <div class="container">
      <div class="row align-items-center g-5">
        <div class="col-lg-6 order-2 order-lg-1">
          <h2 class="fs-1 fw-bold mb-3" data-aos="fade-down" data-aos-duration="1000">
            Elevate Your Kennel's <span class="text-gradient-8">Online Presence.</span>
          </h2>
          <p
            class="fs-4 text-muted lh-sm mb-0"
            data-aos="fade-down"
            data-aos-delay="100"
            data-aos-duration="1000"
          >
            Take complete control of your business and transform it with our end-to-end platform.
            Get in touch with us now.
          </p>
        </div>
        <div class="col-lg-6 order-1 order-lg-2">
          <img
            src="https://cdn.breederspot.com/bspot/app/media/68/3-dogs.png"
            class="img-fluid"
            alt="Dogs"
            data-aos="fade-in"
            data-aos-duration="1000"
          />
        </div>
      </div>
    </div>
  </section>

  <!-- Pricing Section -->
  <section class="bg-body py-5">
    <div class="container">
      <div class="row align-items-center g-4">
        <div class="col-lg-5">
          <h2
            class="text-primary text-uppercase fw-semibold fs-6 mb-3"
            data-aos="fade-down"
            data-aos-duration="1000"
          >
            Our Pricing
          </h2>
          <h3
            class="fs-2 fw-bold mb-3"
            data-aos="fade-down"
            data-aos-delay="150"
            data-aos-duration="1000"
          >
            We offer great and premium prices.
          </h3>
          <p
            class="text-muted mb-4"
            data-aos="fade-down"
            data-aos-delay="300"
            data-aos-duration="1000"
          >
            Enjoy a <a href="#" class="text-decoration-none">free 14-day trial</a> and experience the
            full service. No credit card required!
          </p>
          <a
            href={getPathPrefix('/theme/6/portal/pricing')}
            class="btn btn-lg btn-primary"
            data-aos="fade-down"
            data-aos-delay="450"
            data-aos-duration="1000">See All Prices</a
          >
        </div>
        <div class="col-lg-7">
          <!-- Switcher -->
          <div
            class="d-flex align-items-center justify-content-center justify-content-lg-end mb-4"
            id="billing-toggle"
          >
            <span id="monthly-label" class="me-2 fw-semibold" style="cursor: pointer;">Monthly</span
            >
            <div
              class="form-check form-switch mx-2"
              style="display: inline-block; vertical-align: middle;"
            >
              <input
                class="form-check-input"
                type="checkbox"
                id="billingSwitch"
                style="width: 2.5em; height: 1.5em; cursor: pointer; background-color: #eee; border-color: #eee;"
              />
            </div>
            <span id="yearly-label" class="ms-2 fw-semibold" style="cursor: pointer;">
              Yearly <span class="text-danger" style="font-size: 0.95em;">(Save 16%)</span>
            </span>
          </div>
          <div class="row g-4">
            <div class="col-md-6">
              <div class="card border h-100 p-3" data-aos="flip-right" data-aos-duration="1000">
                <div class="card-body d-flex flex-column">
                  <div class="mb-2">
                    <span class="fs-6 text-muted">$</span>
                    <span class="fs-1 fw-semibold">21</span>
                    <h4 class="d-inline fs-6 text-muted">/mo</h4>
                  </div>
                  <h4 class="fw-semibold mb-4">Website Plan</h4>
                  <ul class="list-unstyled mb-4">
                    <li class="mb-2">
                      <i class="ri-check-line text-primary me-2"></i>Free Sub-Domain
                    </li>
                    <li class="mb-2"><i class="ri-check-line text-primary me-2"></i>Free SSL</li>
                    <li class="mb-2"><i class="ri-check-line text-primary me-2"></i>1GB Storage</li>
                    <li class="mb-2">
                      <i class="ri-check-line text-primary me-2"></i><span class="fw-bold"
                        >Unlimited</span
                      > Bandwidth
                    </li>
                    <li class="mb-2">
                      <i class="ri-check-line text-primary me-2"></i>Professional Website
                    </li>
                    <li class="mb-2">
                      <i class="ri-check-line text-primary me-2"></i><span class="fw-bold"
                        >Free</span
                      >
                      Image CDN
                    </li>
                    <li class="mb-2">
                      <i class="ri-check-line text-primary me-2"></i>Advance <span class="fw-bold"
                        >SEO</span
                      >
                    </li>
                    <li class="mb-2">
                      <i class="ri-check-line text-primary me-2"></i>Advanced Design Blocks
                    </li>
                    <li class="mb-2">
                      <i class="ri-check-line text-primary me-2"></i>Drag & drop page builder
                    </li>
                  </ul>
                  <div class="mt-auto">
                    <a href="#" class="btn btn-lg btn-primary w-100">Start Free Trial</a>
                  </div>
                </div>
              </div>
            </div>
            <div class="col-md-6">
              <div
                class="card border h-100 p-3"
                data-aos="flip-left"
                data-aos-delay="150"
                data-aos-duration="1000"
              >
                <div class="card-body d-flex flex-column">
                  <div class="mb-2">
                    <span class="fs-6 text-muted">$</span>
                    <span class="fs-1 fw-semibold">34</span>
                    <h4 class="d-inline fs-6 text-muted">/mo</h4>
                  </div>
                  <h4 class="fw-semibold mb-4">Business Plan</h4>
                  <ul class="list-unstyled mb-4">
                    <li class="mb-2">
                      <i class="ri-check-line text-primary me-2"></i>Everything From Website Plan
                    </li>
                    <li class="mb-2">
                      <i class="ri-check-line text-primary me-2"></i><span class="fw-bold"
                        >Free</span
                      >
                      .Com Domain Name
                    </li>
                    <li class="mb-2">
                      <i class="ri-check-line text-primary me-2"></i><span class="fw-bold"
                        >Pet Breeding</span
                      > Management
                    </li>
                    <li class="mb-2">
                      <i class="ri-check-line text-primary me-2"></i><span class="fw-bold"
                        >Medical Records</span
                      > Management
                    </li>
                    <li class="mb-2">
                      <i class="ri-check-line text-primary me-2"></i><span class="fw-bold"
                        >Financial</span
                      > Management
                    </li>
                    <li class="mb-2">
                      <i class="ri-check-line text-primary me-2"></i><span class="fw-bold"
                        >Inventory</span
                      > Management
                    </li>
                    <li class="mb-2">
                      <i class="ri-check-line text-primary me-2"></i><span class="fw-bold"
                        >Contracts</span
                      > Management
                    </li>
                    <li class="mb-2">
                      <i class="ri-check-line text-primary me-2"></i>Email <span class="fw-bold"
                        >Marketing</span
                      >
                    </li>
                  </ul>
                  <div class="mt-auto">
                    <a href="#" class="btn btn-lg btn-outline-primary w-100">Coming Soon</a>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>

  <!-- FAQ Section -->
  <section class="bg-body py-5">
    <div class="container">
      <h2 class="fs-2 fw-bold text-center mb-3" data-aos="fade-down" data-aos-duration="1000">
        Pricing FAQ
      </h2>
      <p
        class="fs-5 text-muted text-center mb-5"
        data-aos="fade-down"
        data-aos-delay="100"
        data-aos-duration="1000"
      >
        If you don't see an answer to your question, you can send us an email from our contact form.
      </p>

      <!-- Accordion -->
      <div class="row gx-4 gy-0" data-aos="fade-in" data-aos-duration="1000">
        <div class="col-md-6">
          <div
            class="accordion accordion-flush"
            id="accordionFlushLeft"
            role="tablist"
            aria-multiselectable="true"
          >
            <div class="accordion-item border rounded mb-3">
              <h2 class="accordion-header">
                <button
                  class="accordion-button collapsed fw-semibold rounded shadow-none"
                  type="button"
                  data-bs-toggle="collapse"
                  data-bs-target="#flush-collapseOne"
                  aria-expanded="false"
                  aria-controls="flush-collapseOne"
                >
                  Do you offer free trial?
                </button>
              </h2>
              <div
                id="flush-collapseOne"
                class="accordion-collapse collapse"
                data-bs-parent="#accordionFlushLeft"
              >
                <div class="accordion-body">
                  Yes, we offer a 14-day free trial period for all our premium plans. During this
                  period, you can explore all the features and decide if the plan suits your needs.
                </div>
              </div>
            </div>
            <div class="accordion-item border rounded mb-3">
              <h2 class="accordion-header">
                <button
                  class="accordion-button collapsed fw-semibold rounded shadow-none"
                  type="button"
                  data-bs-toggle="collapse"
                  data-bs-target="#flush-collapseTwo"
                  aria-expanded="false"
                  aria-controls="flush-collapseTwo"
                >
                  Do I have to enter my credit card to sign up?
                </button>
              </h2>
              <div
                id="flush-collapseTwo"
                class="accordion-collapse collapse"
                data-bs-parent="#accordionFlushLeft"
              >
                <div class="accordion-body">
                  No. You can open a trial account at any time with no credit card required.
                  Entering a credit card is required only if you choose to go premium after your
                  trial period is over.
                </div>
              </div>
            </div>
            <div class="accordion-item border rounded mb-3">
              <h2 class="accordion-header">
                <button
                  class="accordion-button collapsed fw-semibold rounded shadow-none"
                  type="button"
                  data-bs-toggle="collapse"
                  data-bs-target="#flush-collapseThree"
                  aria-expanded="false"
                  aria-controls="flush-collapseThree"
                >
                  Can I switch my subscription plan?
                </button>
              </h2>
              <div
                id="flush-collapseThree"
                class="accordion-collapse collapse"
                data-bs-parent="#accordionFlushLeft"
              >
                <div class="accordion-body">
                  You are free to switch between plans. You will get more features in the premium
                  plans; however, if you wish to degrade your plan, the existing features will get
                  blocked or limited.
                </div>
              </div>
            </div>
            <div class="accordion-item border rounded mb-3">
              <h2 class="accordion-header">
                <button
                  class="accordion-button collapsed fw-semibold rounded shadow-none"
                  type="button"
                  data-bs-toggle="collapse"
                  data-bs-target="#flush-collapseFour"
                  aria-expanded="false"
                  aria-controls="flush-collapseFour"
                >
                  Do you offer discounts for annual subscriptions?
                </button>
              </h2>
              <div
                id="flush-collapseFour"
                class="accordion-collapse collapse"
                data-bs-parent="#accordionFlushLeft"
              >
                <div class="accordion-body">
                  Yes, we provide attractive discounts for annual subscriptions. When you opt for an
                  annual plan, you can save significantly compared to the monthly pricing.
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="col-md-6">
          <div
            class="accordion accordion-flush"
            id="accordionFlushRight"
            role="tablist"
            aria-multiselectable="true"
          >
            <div class="accordion-item border rounded mb-3">
              <h2 class="accordion-header">
                <button
                  class="accordion-button collapsed fw-semibold rounded shadow-none"
                  type="button"
                  data-bs-toggle="collapse"
                  data-bs-target="#flush-collapseFive"
                  aria-expanded="false"
                  aria-controls="flush-collapseFive"
                >
                  What types of payment methods do you accept?
                </button>
              </h2>
              <div
                id="flush-collapseFive"
                class="accordion-collapse collapse"
                data-bs-parent="#accordionFlushRight"
              >
                <div class="accordion-body">
                  We use Stripe for secure and reliable payments, accepting credit and debit cards.
                  Stripe is renowned worldwide for its top-notch security and credibility in
                  handling transactions.
                </div>
              </div>
            </div>
            <div class="accordion-item border rounded mb-3">
              <h2 class="accordion-header">
                <button
                  class="accordion-button collapsed fw-semibold rounded shadow-none"
                  type="button"
                  data-bs-toggle="collapse"
                  data-bs-target="#flush-collapseSix"
                  aria-expanded="false"
                  aria-controls="flush-collapseSix"
                >
                  Is a domain name included in the premium plan?
                </button>
              </h2>
              <div
                id="flush-collapseSix"
                class="accordion-collapse collapse"
                data-bs-parent="#accordionFlushRight"
              >
                <div class="accordion-body">
                  Yes, all premium plans come with a free custom domain name for the first year. You
                  can choose a domain name that represents your business and brand.
                </div>
              </div>
            </div>
            <div class="accordion-item border rounded mb-3">
              <h2 class="accordion-header">
                <button
                  class="accordion-button collapsed fw-semibold rounded shadow-none"
                  type="button"
                  data-bs-toggle="collapse"
                  data-bs-target="#flush-collapseSeven"
                  aria-expanded="false"
                  aria-controls="flush-collapseSeven"
                >
                  Can I cancel my subscription at any time?
                </button>
              </h2>
              <div
                id="flush-collapseSeven"
                class="accordion-collapse collapse"
                data-bs-parent="#accordionFlushRight"
              >
                <div class="accordion-body">
                  Yes, you have the freedom to cancel your subscription at any time. There are no
                  long-term commitments, and you can easily cancel your plan through your account
                  settings.
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>

  <!-- CTA -->
  <section class="bg-gradient-8 py-5 mt-3">
    <div class="container text-center">
      <h2
        class="text-light fs-6 fw-semibold text-uppercase mb-3"
        data-aos="fade-in"
        data-aos-duration="1000"
      >
        Join Our Community
      </h2>
      <h3
        class="text-light fw-bold fs-1 mb-4"
        data-aos="fade-in"
        data-aos-delay="150"
        data-aos-duration="1000"
      >
        We Are <span class="underline warning">Trusted</span> by All Pet Breeders.
      </h3>
      <a
        href="https://breederspot.com/portal/register/"
        class="btn btn-lg btn-outline-light"
        data-aos="fade-in"
        data-aos-delay="300"
        data-aos-duration="1000">Start Free Trial</a
      >
    </div>
  </section>
</Layout>
