<!-- Footer -->
<footer class="bg-black">
  <div class="container pt-4 pt-md-5 pb-0">
    <div class="row gy-5 gy-lg-0">
      <div class="col-md-4 col-lg-3">
        <div class="widget">
          <img
            src="https://jazzupsalon.in/storage/local/aajv/app/theme/58/logo-jazzup.png"
            alt="Jazzup Salon Logo"
            class="mb-4"
            width="120px"
          />
          <p class="text-light mb-3">© 2025 : Jazzup salon. All rights reserved.</p>
          <nav class="d-flex fs-5 gap-2">
            <a
              href="https://www.facebook.com/JazzUpSalonwkd/"
              class="text-decoration-none text-white"
              target="_blank"
              title="Facebook"><i class="ri-facebook-circle-fill"></i></a
            >
            <a
              href="https://www.instagram.com/jazzup_salons/"
              class="text-decoration-none text-white"
              target="_blank"
              title="Instagram"><i class="ri-instagram-line"></i></a
            >
            <a
              href="https://wa.me/7887826565"
              class="text-decoration-none text-white"
              target="_blank"
              title="WhatsApp"><i class="ri-whatsapp-line"></i></a
            >
            <a
              href="https://www.linkedin.com/in/jazzup-salon-4034231a9"
              class="text-decoration-none text-white"
              target="_blank"
              title="Linkedin"><i class="ri-linkedin-box-fill"></i></a
            >
          </nav>
        </div>
      </div>

      <div class="col-md-4 col-lg-3">
        <p class="fs-5 text-light fw-semibold mb-3">Pages</p>
        <ul class="list-unstyled mb-0">
          <li>
            <a class="text-light text-decoration-none" href="https://jazzupsalon.in/about">About</a>
          </li>
          <li>
            <a class="text-light text-decoration-none" href="https://jazzupsalon.in/contact-us"
              >Contact</a
            >
          </li>
        </ul>
      </div>

      <div class="col-md-4 col-lg-3">
        <p class="fs-5 text-light fw-semibold mb-3">Wakad</p>
        <address class="text-light">
          1st Floor, Shree Ganesh Imperia Square<br />
          Opp Omega Paradise. Lane Front of Coasta Rica Society New<br />
          Hinjawadi Link Road, Wakad, Pimpri-Chinchwad, Maharashtra 411057<br />
        </address>
        <a class="text-light text-decoration-none" href="mailto:ops.jazzup@gmail.com"
          >ops.jazzup@gmail.com</a
        ><br />
        <a class="text-light text-decoration-none" href="tel:7887826565">7887826565</a><br />
      </div>

      <div class="col-md-4 col-lg-3">
        <p class="fs-5 text-light fw-semibold mb-3">Baner</p>
        <address class="text-light">
          S.NO 163/3B/1, 2nd Floor, Opp. Aker Solutions, near joshi vadewale,<br />
          Balewadi Phata, Baner, Pune, Maharashtra 411045<br />
        </address>
        <a class="text-light text-decoration-none" href="mailto:ops.jazzup@gmail.com"
          >ops.jazzup@gmail.com</a
        ><br />
        <a class="text-light text-decoration-none" href="tel:7887800355">7887800355</a><br />
      </div>
    </div>

    <div class="row mt-5">
      <div class="col-md-12">
        <hr class="my-3 text-light" />
        <p class="text-light mx-1">
          <span class="me-1">Powered By</span><a
            class="text-light text-decoration-none"
            href="https://asterobuilder.com/"
            target="_blank">AsteroBuilder</a
          >
        </p>
      </div>
    </div>
  </div>
</footer>
