---
import AdminLayout from '../../layouts/admin/admin-layout.astro'
import PageHeader from '../../components/common/page-header.astro'
import Toc from '../../components/toc/toc.astro'
import { getPathPrefix } from '../../../utils/path.js'

const pageHeaderProps = {
  title: 'Changelog',
  breadcrumbs: [
    { label: 'Docs', href: getPathPrefix('/docs') },
    { label: 'Changelog', class: 'active' }
  ]
}
---

<AdminLayout
  currentPath="docs/changelog"
  title="Changelog"
  description="Stay up to date with the latest features, fixes, and updates to the project."
>
  <PageHeader {...pageHeaderProps} />

  <div class="row">
    <div class="col-lg-9 col-xl-9 order-1 order-lg-0">
      <div class="mb-5">
        <div class="mb-5">
          <h2 class="h5" id="v1-0-0">v1.0.0 <small class="text-muted">– 2025-07-09</small></h2>
          <ul>
            <li>🎉 Initial release of the project, including 3 pre-designed themes.</li>
          </ul>
        </div>
      </div>
    </div>
    <Toc />
  </div>
</AdminLayout>
