---
import AdminLayout from '../../layouts/admin/admin-layout.astro'
import PageHeader from '../../components/common/page-header.astro'
import Toc from '../../components/toc/toc.astro'
import { getAssetPrefix, getPathPrefix } from '../../../utils/path.js'

const pageHeaderProps = {
  title: 'Credits',
  breadcrumbs: [
    { label: 'Docs', href: getPathPrefix('/docs') },
    { label: 'Credits', class: 'active' }
  ]
}
---

<AdminLayout
  currentPath="docs/credits"
  title="Credits"
  description="Credits for the tools and resources used in building this project."
>
  <PageHeader {...pageHeaderProps} />
  <div class="row">
    <div class="col-lg-9 col-xl-9 order-1 order-lg-0">
      <p class="my-0">Credits for the tools and resources used in building this project.</p>

      <!-- JS -->
      <div class="my-3">
        <h3 class="mb-2" id="javascript">JavaScript</h3>
        <div class="card border p-4 mb-4">
          <div class="card-body">
            <table class="table mb-0" style="table-layout: fixed;">
              <thead>
                <tr>
                  <th scope="col" class="fs-5 fw-semibold pt-0">Plugin Name</th>
                  <th scope="col" class="fs-5 fw-semibold pt-0">Description</th>
                </tr>
              </thead>
              <tbody>
                <tr>
                  <td
                    ><a
                      href="https://getbootstrap.com/"
                      class="text-decoration-none link-primary"
                      target="_blank">Bootstrap<i class="ri-external-link-line ms-1"></i></a
                    ></td
                  >
                  <td
                    >A popular front-end framework for building responsive, mobile-first websites
                    with utilities.</td
                  >
                </tr>
                <tr>
                  <td
                    ><a
                      href="https://swiperjs.com/"
                      class="text-decoration-none link-primary"
                      target="_blank">Swiper<i class="ri-external-link-line ms-1"></i></a
                    ></td
                  >
                  <td
                    >A powerful, modern touch slider library built for mobile-friendly carousels and
                    sliders.</td
                  >
                </tr>
                <tr>
                  <td
                    ><a
                      href="https://mattboldt.com/demos/typed-js/"
                      class="text-decoration-none link-primary"
                      target="_blank">Typed.js<i class="ri-external-link-line ms-1"></i></a
                    ></td
                  >
                  <td
                    >A lightweight JavaScript library that types out animated text strings,
                    simulating a typewriter effect.</td
                  >
                </tr>
                <tr>
                  <td
                    ><a
                      href="https://michalsnik.github.io/aos/"
                      class="text-decoration-none link-primary"
                      target="_blank"
                      >AOS - Animate on Scroll<i class="ri-external-link-line ms-1"></i></a
                    ></td
                  >
                  <td
                    >A library that triggers smooth, customizable animations as elements scroll into
                    view.</td
                  >
                </tr>
                <tr>
                  <td
                    ><a
                      href="https://codemirror.net/"
                      class="text-decoration-none link-primary"
                      target="_blank">CodeMirror<i class="ri-external-link-line ms-1"></i></a
                    ></td
                  >
                  <td
                    >A versatile JavaScript code editor that brings syntax highlighting and code
                    editing features to the browser.</td
                  >
                </tr>
                <tr>
                  <td
                    ><a
                      href="https://biati-digital.github.io/glightbox/"
                      class="text-decoration-none link-primary"
                      target="_blank">GLightbox<i class="ri-external-link-line ms-1"></i></a
                    ></td
                  >
                  <td
                    >A lightweight, responsive JavaScript lightbox library for displaying images,
                    videos, iframes, and HTML content with smooth animations and a clean design.</td
                  >
                </tr>
              </tbody>
            </table>
          </div>
        </div>
      </div>

      <!-- Fonts -->
      <div class="my-3">
        <h3 class="mb-2" id="fonts">Fonts</h3>
        <div class="card border p-4 mb-4">
          <div class="card-body">
            <table class="table mb-0" style="table-layout: fixed;">
              <thead>
                <tr>
                  <th scope="col" class="fs-5 fw-semibold pt-0">Font Name</th>
                  <th scope="col" class="fs-5 fw-semibold pt-0">Description</th>
                </tr>
              </thead>
              <tbody>
                <tr>
                  <td
                    ><a
                      href="https://fonts.google.com/specimen/Source+Sans+3"
                      class="text-decoration-none link-primary"
                      target="_blank">Source Sans 3<i class="ri-external-link-line ms-1"></i></a
                    ></td
                  >
                  <td
                    >An updated, versatile sans serif optimized for clarity across print and screen.</td
                  >
                </tr>
                <tr>
                  <td
                    ><a
                      href="https://fonts.google.com/specimen/DM+Sans"
                      class="text-decoration-none link-primary"
                      target="_blank">DM Sans<i class="ri-external-link-line ms-1"></i></a
                    ></td
                  >
                  <td
                    >A modern, low-contrast sans serif designed for readability and digital
                    interfaces.</td
                  >
                </tr>
                <tr>
                  <td
                    ><a
                      href="https://fonts.google.com/specimen/Lexend"
                      class="text-decoration-none link-primary"
                      target="_blank">Lexend<i class="ri-external-link-line ms-1"></i></a
                    ></td
                  >
                  <td
                    >Lexend is a readability-focused font family designed to reduce visual stress
                    and improve reading speed.</td
                  >
                </tr>
              </tbody>
            </table>
          </div>
        </div>
      </div>

      <!-- Icons -->
      <div class="my-3">
        <h3 class="mb-2" id="icons">Icons</h3>
        <div class="card border p-4 mb-4">
          <div class="card-body">
            <table class="table mb-0" style="table-layout: fixed;">
              <thead>
                <tr>
                  <th scope="col" class="fs-5 fw-semibold pt-0">Source Name</th>
                  <th scope="col" class="fs-5 fw-semibold pt-0">Description</th>
                </tr>
              </thead>
              <tbody>
                <tr>
                  <td
                    ><a
                      href="https://remixicon.com/"
                      class="text-decoration-none link-primary"
                      target="_blank">Remix Icon<i class="ri-external-link-line ms-1"></i></a
                    ></td
                  >
                  <td
                    >Remix Icon is a set of high-quality system icons designed for modern web and
                    app interfaces.</td
                  >
                </tr>
              </tbody>
            </table>
          </div>
        </div>
      </div>

      <!-- Images -->
      <div class="my-3">
        <h3 class="mb-2" id="images">Images</h3>
        <div class="card border p-4 mb-4">
          <div class="card-body">
            <p class="fs-5 fw-semibold mb-2">AI Generated</p>
            <p class="mb-4">Most images used in this project were generated using AI tools.</p>
            <div class="row g-2 g-md-4 mb-4">
              <div class="col-6 col-sm-4">
                <figure class="img-scale rounded-4 h-100 mb-0">
                  <img
                    src={getAssetPrefix('/assets/img/theme-images/img-1.jpg')}
                    class="img-fluid object-fit-cover"
                    alt="Image"
                  />
                </figure>
              </div>
              <div class="col-6 col-sm-4">
                <figure class="img-scale rounded-4 h-100 mb-0">
                  <img
                    src={getAssetPrefix('/assets/img/theme-images/img-3.jpg')}
                    class="img-fluid object-fit-cover"
                    alt="Image"
                  />
                </figure>
              </div>
              <div class="col-6 col-sm-4">
                <figure class="img-scale rounded-4 h-100 mb-0">
                  <img
                    src={getAssetPrefix('/assets/img/theme-images/img-4.jpg')}
                    class="img-fluid object-fit-cover"
                    alt="Image"
                  />
                </figure>
              </div>
            </div>

            <p class="fs-5 fw-semibold border-top pt-4 mb-2">Unsplash</p>
            <p class="mb-4">Some of the images used in this project were sourced from Unsplash.</p>
            <div class="row g-2 g-md-4">
              <div class="col-6 col-sm-4">
                <figure class="img-scale rounded-4 h-100 mb-0">
                  <img
                    src={getAssetPrefix('/assets/img/products/product-1.jpg')}
                    class="img-fluid object-fit-cover"
                    alt="Image"
                  />
                </figure>
              </div>
              <div class="col-6 col-sm-4">
                <figure class="img-scale rounded-4 h-100 mb-0">
                  <img
                    src={getAssetPrefix('/assets/img/products/product-2.jpg')}
                    class="img-fluid object-fit-cover"
                    alt="Image"
                  />
                </figure>
              </div>
              <div class="col-6 col-sm-4">
                <figure class="img-scale rounded-4 h-100 mb-0">
                  <img
                    src={getAssetPrefix('/assets/img/products/product-3.jpg')}
                    class="img-fluid object-fit-cover"
                    alt="Image"
                  />
                </figure>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <Toc />
  </div>
</AdminLayout>
