---
import { getPathPrefix } from '../../../../utils/path.js'
---

<!-- Top Navigation -->
<div class="topbar container">
  <nav class="d-flex align-items-center justify-content-end py-2">
    <a href={getPathPrefix('/#themes')} target="_blank" class="btn btn-lg btn-outline-primary"
      >All Demos</a
    >
  </nav>
</div>
