<!-- Top Navigation -->
<div class="topbar container">
  <nav class="d-flex align-items-center justify-content-between py-2">
    <!-- Left section -->
    <div class="d-flex align-items-center gap-4">
      <button
        class="btn sidebar-toggle d-md-block d-lg-block d-xl-none p-0 border-0"
        id="sidebar-toggle"
      >
        <i class="ri-menu-line fs-5"></i>
      </button>
      <!-- Search Modal Toggle Button -->
      <button
        class="btn search-toggle w-100 text-start d-flex align-items-center gap-2 border shadow-none"
        id="search-toggle"
        data-bs-toggle="modal"
        data-bs-target="#searchModal"
        type="button"
      >
        <i class="ri-search-line"></i>
        <span class="search-placeholder d-none d-sm-inline">Search </span>
        <span class="search-shortcut d-none d-sm-inline">Ctrl + K</span>
      </button>
    </div>
  </nav>
</div>
